.labelinput{
    text-transform: capitalize;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
    color:var(--black);
}

.custom-input{
    border-width:0;
    border-bottom-width: 1px;
    width:100%;
    padding:0.5rem 0rem;
    font-size:0.8rem;
    opacity: 0.8;
    color:var(--black);
    background-color: var(--white);
}
.custom-input:focus{
    outline:none;
    opacity: 1;
    transition: all 0.2s;
}
.custom-input::placeholder{
    color:grey;
}