.btn{
    color:var(--theme);
    text-align:center;
    margin-top: 0.4em;
    font-size:0.9rem;
    padding:0.5rem;
    background-color:var(--white);
    border:1px solid var(--theme);
    border-radius: 0.25rem;
    cursor:pointer;
    display: flex !important;
    align-items:center;
    justify-content: center;
    height: auto !important;
}
.btn:hover{
    background-color: var(--theme);
    color:white;
    transition:all 0.3s;
}
.btn-blue{
    background-color: var(--theme);
    color:white;
}
.btn-blue:hover{
    background-color: var(--white) !important;
    color:var(--theme);
    transition: all 0.3s;
}