.wrapper,.chart-wrapper{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
 
}
.chart-wrapper{
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap:5rem;
  width:90vw;
  height: auto;
  padding:2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin:2rem;
}