@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
:root{
  --theme:#2970ff;
  --black:#000;
  --white:#fbf6f6;
  --shadow:0px 0px 30px 8px rgba(227,227,227,0.75);
}
.darkmode{
  background-color: #282525;
  --black:#fbf6f6;
  --white:#171616;
  --shadow:0px 0px 30px 8px rgba(78, 77, 77, 0.75);
}
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: var(--white);
   height:100vh;
}


input {
  font-family: 'Montserrat', sans-serif;
}

.input-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:0.5rem;
  width:100%;
  box-shadow:var(--shadow);
  border-radius: 0.5rem;
  padding:0rem 0.5rem;
  background-color: var(--white);
  color:var(--black);
}
.input-flex input{
  width:100%;
  padding:0.5rem;
  border:0;
  background-color: var(--white);
  color:var(--black);
}
.input-flex input:focus{
  outline:none;
}